.ml-3{
    margin-left:50px;
}

.mt-3{
    margin-top:30px;
}

.mg-3{
    margin: 30px;
}

.mg-1{
    margin: 10px;
}

.table-top{
    display:flex;
    justify-content: space-between;
}
.pd-1{
    padding:4px;
}