
.assetdetail{
    
    margin:10px auto;
}
.mt--50{
    margin-top: -50px;
}

.padding-20{
    padding: 10px;
}
.detailtitle{
    font-size:small;
    color:cadetblue;
    font-weight: bolder;
    margin-left:3px;
}

.detailinfo{
    font-size:medium;
    color:darkslategrey;
    font-weight: bolder;
}

.pull-right{
    display:flex;
    justify-content: right;
    margin-right:10px;
    margin-top:10px;
}

.border{
    border: 1px solid black;
    border-radius: 20px;
}
.title{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: medium;
    color:teal;
    justify-content: center;
    margin-top:10px;
    margin-left:3px;
    align-items: center;
    text-align: center;
}

.editasset{
    
    padding:3px 3px;
    background-color:white;
    border-radius:2px;
}

.adhead{
    display:flex;
    justify-content: space-evenly;
}

.adleft{
    
}

.adright{
}

.teal{
    color:teal;
}

.promaro{
    color:rgb(7, 72, 72)
}

.standard-basic{
    box-sizing: border-box;
}